* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar style */
header {
  background-color: #f35136;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 20px;
}
.navbar li {
  display: inline-block;
  margin-left: 20px;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}
.icon {
  position: absolute;
  top: 10px;
  right: 40px;
  width: 30px;
}

/* main section style */
.main-section {
  margin: auto;
  width: 70%;
  padding-top: 9rem;
}

.main-section h1 {
  text-align: center;
}
p {
  margin: 20px 0;
}

/* footer style */
footer {
  background-color: #222;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 10px;
}
